/* CSS Document */
* {
    padding :0;
    margin :0;
    box-sizing :border-box;
}

body {
    background :#dedede;
    font-family :'Verdana',arial,sans-serif;
    font-size :15px;
}

p {
    margin-bottom :20px;
    line-height :1.5em
}

h3 {
    margin-bottom :20px;
    border-bottom :1px solid #aaa;
}

a {
    text-decoration :none;
    color :#333;
}

a:hover {
color :#666;
}

.container {
    max-width :1080px;
    margin :20px auto;
    background :#fff;
    overflow :hidden;
    padding :10px;
}

/* Header */
.header {
    border :1px solid #dedede;
    padding :10px;
    margin :10px;
    background :#9E9AFB;
}

/* MAIN - Flexbox Layout */
/* main */
.main {
    display : flex;
    flex-wrap : wrap;
    gap : 10px
}

/* LEFT PANEL */
.left {
    flex :1;
    min-width :200px;
    border :1px solid #dedede;
    padding :10px;
    margin :10px;
    background: #f8f8ff;
}

.left ul {
    list-style-type: none;
}

.left ul li a {
    display :block;
    border-bottom :1px solid #dedede;
    padding :10px 15px;
    color : #333;
}

.left ul li a:hover {
    color :#461AF3;
}

/* MIDDLE CONTENT */
.middle {
    flex : 2;
    min-width : 300px;
    border :1px solid #dedede;
    padding :10px;
    margin :10px;
}

.middle img{
max-width :100%;
height :auto;
}
.middle a{
font-weight :bold;
}
/* RIGHT PANEL */
.right{
flex :1;
min-width :200px;
border :1px solid #dedede;
padding :10px;
margin :10px;
background : #f8f8ff;
}
.right ul{
list-style-type: none;
}
.right ul li a{
display :block;
border-bottom :1px solid #dedede;
margin-bottom :10px;
padding :10px 15px;
color: #333;
}
/* FOOTER */
.footer{
border :1px solid #dedede;
padding :15px;
margin-top :10px;
text-align :center;
background :#fafafa;
}

/* -------------------------------------
MEDIA QUERY - SCREEN <= 1080px
--------------------------------------*/
@media screen and (max-width:1080px){
#container{
width :100%;
}
}

/* -------------------------------------
MEDIA QUERY - SCREEN <= 780px
--------------------------------------*/
@media screen and (max-width:780px){
.main{
flex-direction: column;
}
.left,
.middle,
.right{
width :100%;
margin :10px 0;
}
.header,
.footer{
text-align : center;
}
}
